PORT=4000

ODOO_URL=http://odoo:8069
ODOO_MASTER_PASSWORD=changeme_master_password

CHATWOOT_URL=http://chatwoot-rails:3000
CHATWOOT_PLATFORM_TOKEN=reemplazar_con_token_platform_api

REDIS_URL=redis://backend-redis:6379
DATABASE_URL=postgres://backend:backend@backend-db:5432/backend

JWT_SECRET=reemplazar_con_secreto_largo

META_APP_SECRET=reemplazar
META_VERIFY_TOKEN=reemplazar
META_PAGE_ACCESS_TOKEN=reemplazar
