NODE_ENV=production
RAILS_ENV=production
INSTALLATION_ENV=docker

# generar con: openssl rand -hex 64
SECRET_KEY_BASE=reemplazar_con_secreto_generado

FRONTEND_URL=http://chatwoot.local
DEFAULT_LOCALE=es

POSTGRES_HOST=chatwoot-db
POSTGRES_USERNAME=chatwoot
POSTGRES_PASSWORD=chatwoot
POSTGRES_DATABASE=chatwoot

REDIS_URL=redis://chatwoot-redis:6379

ENABLE_ACCOUNT_SIGNUP=false
MAILER_SENDER_EMAIL=Chatwoot <accounts@chatwoot.local>

# se genera la primera vez que creas un usuario Platform App (ver README)
# CHATWOOT_PLATFORM_TOKEN=
